docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true

params {    
    splitChunk = 100000                                                                                                                       
    reads = "$projectDir/data/UnpairedFastq"
    isPaired = false
    isStranded = true
    intronLenght = 3636
    results = "Results"
    reference = "$projectDir/data/Reference/pfal3D7_chr1.fasta"
    annotation = "$projectDir/data/Reference/pfal3D7.gtf"
    hisat2Index = "$projectDir/data/index/"
    createIndex = false
    local = true
    params.sraAccession ="$projectDir/data/sraListSingle.csv"
}

