docker {
    runOptions = '-u $(id -u):$(id -g)'
    enabled = true
}

params {                                                                                                                           
    reads = "$projectDir/Fastq"
    index = "$projectDir/index/pfal3D7"
    isPaired = true
    isStranded = true
    intronLenght = 3636
    adapters = "$projectDir/Adapters/All_adaptors-PE.fa"
    results = 'Results'
}

