docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true

process {
    withName:HisatMappingSingleEnd {
        container = 'veupathdb/shortreadaligner'
    }

    withName:HisatMappingPairedEnd {
        container = 'veupathdb/shortreadaligner'
    }

    withName:HtseqCountingUnstranded {
        container = 'genomicpariscentre/htseq'
    }

    withName:HtseqCountingStranded {
        container = 'genomicpariscentre/htseq'
    }
}

params {                                                                                                                           
    reads = "$projectDir/Fastq"
    fastq_files = "$projectDir/Fastq/*fq*"
    index = "$projectDir/index/genomeIndex"
    isPaired = true
    isStranded = true
    intronLenght = 3636
    adapters = "$projectDir/Adapters/All_adaptors-PE.fa"
    results = "Results"
    reference = "$projectDir/pfal3D7_chr1.fasta"
    annotation = "$projectDir/pfal3D7.gtf"
    fastqcExtension = '*fq.gz*'
}