docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true

params {                                                                                                                           
    reads = "$projectDir/data/Fastq"
    isPaired = true
    isStranded = true
    intronLenght = 3636
    results = "Results"
    reference = "$projectDir/data/Reference/pfal3D7_chr1.fasta"
    annotation = "$projectDir/data/Reference/pfal3D7.gtf"
    trimmomatic_jar = "${projectDir}/trimmomatic-0.39.jar"
    adapter_path = "$projectDir/data/Adapters"
}
